@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: yellow;

    padding: 80px;
}

.container {
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex {
    display: flex;
    gap: 20px;
    border: 1px solid white;
    min-height: 400px;
    border-radius: 10px;
    padding: 10px;
}

.title {
    margin-bottom: 10px;
}

/* align */

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

/* justify */

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* flex-direction */

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

/* flex-wrap */

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* align-content */
.align-content-flex-start {
    align-content: flex-start;
    flex-wrap: wrap;
}

.align-content-center {
    align-content: center;
    flex-wrap: wrap;
}

.align-content-flex-end {
    align-content: flex-end;
    flex-wrap: wrap;
}

.align-content-space-between {
    align-content: space-between;
    flex-wrap: wrap;
}

.align-content-space-around {
    align-content: space-around;
    flex-wrap: wrap;
}

.align-content-space-evenly {
    align-content: space-evenly;
    flex-wrap: wrap;
}

.flex-flow {
    flex-flow: row wrap;
}

.place-content {
    flex-wrap: wrap;
    place-content: space-evenly space-evenly;
}

.place-items {
    place-items: center center;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    font-size: 30px;
}
